<% text_field_tag :keyword %>
<input type="text" name="keyword" id="keyword" placeholder="Search a song...">

<%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="track_options">
    <%= form.hidden_field :spotify_id, id: :track_spotify_id %>
  </div>

  </br>
  <button class="btn waves-effect waves-light right-align" type="submit" name="action">Send
    <i class="material-icons right">send</i>
  </button>
<% end %>

<script type="text/javascript">
$( document ).ready(function(){
  var last_keyword = "";

  $("#keyword").keyup(function(){
    var current_keyword = $("#keyword").val();
    if(current_keyword != last_keyword && current_keyword.length > 3){
      last_keyword = current_keyword;
      load_options(current_keyword);
    }
  });

  function load_options(keyword){
    $.ajax( "/tracks/search_on_spotify?keyword=" + keyword )
      .done(function(response) {
        $("#track_options").html(response)
      })
      .fail(function(response) {
        console.log( "error" );
        console.log(response);
      })
  }

});
</script>