<p>
  <strong>Spotify:</strong>
  </br>
  <%= spotify_track_iframe @track.spotify_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @track.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @track.artist %>
</p>

<%= link_icon_to :arrow_back, 'Back', root_path %>
