<%- if controller_name != 'sessions' %>
  <div class="col s12 center-align">
    <%= link_to "Log in", new_session_path(resource_name), class: 'waves-effect waves-light btn red' %>
  </div>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="col s12 center-align">
    <%= link_to "Sign up", new_registration_path(resource_name), class: 'waves-effect waves-light btn red' %>
  </div>
<% end -%>

<script type="text/javascript">
  $( document ).ready(function(){
    $.each($('.field_with_errors'), function(i, error_field) {
      $(error_field).replaceWith($(error_field).html())
    });
  });
</script>