<div class="valign-wrapper">
  <div class="col s9">
    <h4>Invitations</h4>
  </div>
  <div class="col s3 right-align">
    <%= link_icon_to :add, 'New Invitation', new_invitation_path %>
  </div>
</div>

<table class="striped">
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @invitations.each do |invitation| %>
      <tr>
        <td><%= invitation.email %></td>
        <td class="right-align">
          <%= link_to_edit edit_invitation_path(invitation) %>
          <%= link_to_destroy invitation %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
